@model TODOListDemo.Models.TODOlistViewModel
<ul id="sortable">
    @foreach (var item in Model.TodoItems)
    {                   
        
        <li id="@item.Id" class="row-fluid">
            <div class="span1">
               @if (!item.Done)
               { <a class="finish_todo" data-toggle="modal"><i class="@(item.Expired ? "icon-ok" : "icon-warning-sign")"></i></a>}
            </div>
            <div class="span2">
                @for (int i = 0; i < (4 - item.PriorityId); i++)
                {
                    <i class="icon-star"></i>
                }</div>
            <div class="span4">
                @item.Title</div>
            <div class="span4">
                @item.StartTime
            </div>
            <div class="span1">
            @if (!item.Done)
            {<a class="edit_todo" data-toggle="modal"><i class="icon-edit"></i></a>}
                <a class="todo_details" data-toggle="modal"><i class="icon-th-large"></i></a>
            </div>
        </li>                                                                            
    }
</ul>
<input type="submit" value="Save list order" class="btn btn-inverse" id="submit-list" />

@if (Model.SectionInfo.ItemsLoaded < Model.SectionInfo.TotalItems)
{
    <button class="btn btn-inverse pull-right" id="todo_more">
        More TODOs</button>
}
<div id="section_info" section="@Model.SectionInfo.CurrentSection">
</div>